html,
body {
  background: #222;
  color: #ddd;
  font-family: sans-serif;
  margin: 0;
}

body {
  padding: 1rem;
}

canvas {
  image-rendering: pixelated;
}

#grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;

  > * {
    width: 100%;
    height: 100%;
  }

  canvas {
    background: #000;
  }

  #params {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
    width: fit-content;
  }
}

#output-container {
  display: inline-block;
  position: relative;
  font-size: 0;
  background-color: #fff;
}

#output-color {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

#output-text {
  display: inline-block;
  position: relative;
  mix-blend-mode: multiply;
  font: 900 6px "Menlo", monospace;
  white-space: preserve nowrap;
  background: #000;
  color: #fff;
}
